{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% set user = user_dict %}

{% block subtitle %}
 {{ super() }}
{% endblock %}

{% block primary_content_inner %}
 {{ super() }}
{% endblock %}

{% block secondary_content %}
{% if organization %}
    {% snippet 'snippets/organization.html', organization=organization %}
{% else %}
    {{ super() }}
{% endif %}

<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-lg fa-info-circle"></i>
    {{ _('What are roles?') }}
  </h2>
  <div class="module-content">
{% trans %}
<p><strong>Admin:</strong> Can add/edit and delete datasets, as well as
manage organization members.</p>
<p><strong>Editor:</strong> Can add and edit datasets, but not manage
organization members.</p>
<p><strong>Member:</strong> Can view the organization's private
datasets, but not add new datasets.</p>
{% endtrans %}
  </div>
</div>
{% endblock %}