{% ckan_extends %}

{% block package_description %}
  {{ super() }}
  <div class="dropdown btn-group meta-export-select pull-right">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-arrow-circle-o-up"></i>
      Export metadata
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ h.url_for('/api/3/action/package_show', id=pkg.id) }}" title="Export metadata as JSON" target="_blank">JSON</a>
      </li>
    </ul>
  </div>
{% endblock %}
