{% extends "package/base.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ super() }}{% endblock %}

{%- block content %}
  {% block maintag %}<div role="main">{% endblock %}
    <div id="content" class="container">
      {% block main_content %}
        {% block flash %}
          <div class="flash-messages">
            {% block flash_inner %}
              {% for message in h.flash.pop_messages() | list %}
                <div class="alert fade in {{ message.category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            {% endblock %}
          </div>
        {% endblock %}

        {% block toolbar %}
          <div class="toolbar">
            {% block breadcrumb %}
              {% if self.breadcrumb_content() | trim %}
                <ol class="breadcrumb">
                  {% snippet 'snippets/home_breadcrumb_item.html' %}
                  {% block breadcrumb_content %}
                    {% if pkg %}
                      {% set dataset = h.dataset_display_name(pkg) %}
                      {% if pkg.organization %}
                        {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
                        <li>{% link_for _('Organizations'), named_route='organization.index' %}</li>
                        <li>{% link_for organization|truncate(30), named_route='organization.read', id=pkg.organization.name %}</li>
                      {% else %}
                        <li>{% link_for _('Datasets'), named_route='dataset.search' %}</li>
                      {% endif %}
                    {% else %}
                      <li>{% link_for _('Datasets'), named_route='dataset.search' %}</li>
                      <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
                    {% endif %}
                  {% endblock %}
                </ol>
              {% endif %}
            {% endblock %}
          </div>
        {% endblock %}

        <div class="dataset-read row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">
          {% block primary %}
            <div class="primary span9">
                <ul class="nav nav-tabs">
                    {% block content_primary_nav %}
                        {{ h.build_nav_icon('dataset.read', _('Dataset'), id=pkg.name) }}
                        {{ h.build_nav_icon('dataset.groups', _('Groups'), id=pkg.name) }}
                        {{ h.build_nav_icon('dataset.activity', _('Activity Stream'), id=pkg.name) }}
                        {% if h.spc_is_restricted(pkg) and h.check_access('manage_access_requests', data_dict=pkg) %}
                            {{ h.build_nav_icon('spc_access_request.pkg_requests', _('Approved Requests'), pkg_id=pkg.id, icon='clock-o') }}
                        {% endif %}
                        {% if h.spc_is_restricted(pkg) and h.check_access('spc_download_tracking_list', {'id': pkg.id}) %}
                            {{ h.build_nav_icon('spc_access_request.package_download_tracking', _('Downloads'), id=pkg.name, package_type=pkg.type, icon='download') }}
                        {% endif %}

                    {% endblock %}
              </ul>
              {% block primary_content %}
                <article class="module">
                  {% block page_header %}
                  {% endblock %}
                  <div class="module-content">
                    {% if self.page_primary_action() | trim %}
                      <div class="page_primary_action">
                        {% block page_primary_action %}{% endblock %}
                      </div>
                    {% endif %}
                    {% block primary_content_inner %}
                      {% block package_revision_info %}
                        {% if h.check_access('package_update', {'id':pkg.id }) %}
                          {% link_for _('Manage'), named_route='dataset.edit', id=pkg.name, class_='btn btn-primary manage', icon='wrench' %}
                        {% endif %}
                        {% if c.revision_date %}
                          <div class="module info alert alert-info">
                            <p class="module-content">
                              {% set timestamp = h.render_datetime(c.revision_date, with_hours=True) %}
                              {% set url = h.url_for('dataset.read', id=pkg.name) %}
                              {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
                            </p>
                          </div>
                        {% endif %}
                      {% endblock %}
                  {% endblock %}
                  </div>
                </article>
              {% endblock %}
            </div>
          {% endblock %}

          {% block secondary %}
            <aside class="secondary span3">
              {% block secondary_content %}

                {% block secondary_help_content %}{% endblock %}

                {% snippet 'package/snippets/rating-stars.html', rating=pkg.get('five_star_rating', 0), dataset_page=true %}

                {% block package_info %}
                  {% snippet 'package/snippets/info.html', pkg=pkg %}
                {% endblock %}

                {% block package_organization %}
                  {% if pkg.organization %}
                    {% set org = h.get_organization(pkg.organization.name) %}
                    {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
                  {% endif %}
                {% endblock %}

                {% block package_social %}
                  {% snippet "snippets/social.html" %}
                {% endblock %}

                {% block package_license %}
                  {% snippet "snippets/license.html", pkg_dict=pkg %}
                {% endblock %}

              {% endblock %}
            </aside>
          {% endblock %}

        </div>
      {% endblock %}
    </div>
  </div>
{% endblock -%}

{% block footer %}
  {% include 'access/snippets/request_access_modal.html' %}
{% endblock %}
