{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% block package_item %}
    <li class="{{ item_class or "dataset-item" }}">
        <div class="right-icons">
            {% snippet 'package/snippets/rating-stars.html', rating=package.get('five_star_rating', 0) %}
        </div>

        <span class="dataset-type-label mobile-only badge badge-info ml-5 pull-right">
	    {{ h.spc_dataset_type_label(package.type) }}
	</span>
        {% block content %}
            <div class="dataset-content">
                {% block heading %}

                    <h3 class="dataset-heading">
                        {% block heading_private %}
                            {% if h.spc_is_restricted(package) %}
                                <span class="dataset-private label label-inverse">
                                    <i class="fa fa-ban"></i>
                                    {{ _('Restricted') }}
                                </span>
                            {% endif %}
                            {% if package.private %}
                                <span class="dataset-private label label-inverse">
                                    <i class="fa fa-lock"></i>
                                    {{ _('Private') }}
                                </span>
                            {% endif %}
                        {% endblock %}
                        {% block heading_title %}
                            {{ h.link_to(title, h.url_for('dataset.read', id=package.name)) }}
                        {% endblock %}
                        {% block heading_meta %}
                            {% if package.get('state', '').startswith('draft') %}
                                <span class="label label-info">{{ _('Draft') }}</span>
                            {% elif package.get('state', '').startswith('deleted') %}
                                <span class="label label-important">{{ _('Deleted') }}</span>
                            {% endif %}
                            {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
                        {% endblock %}
                    </h3>
                    <div class="dataset-info">
                        <p class="pull-left">
                            {{ package.organization.get('title') }}
                            <span class="dataset-type-label desktop-only badge badge-info ml-5">
	                        {{ _(h.spc_dataset_type_label(package.type)) }}
	                    </span>
                        </p>
                        <div class="clearfix"></div>

                    </div>
                {% endblock %}
                {% block banner %}
                    {% if banner %}
                        <span class="banner">{{ _('Popular') }}</span>
                    {% endif %}
                {% endblock %}
                {% block notes %}
                    {% if notes %}
                        <div>{{ notes|urlize }}</div>
                    {% else %}
                        <p class="empty">{{ _("This dataset has no description") }}</p>
                    {% endif %}
                {% endblock %}
                <br/>
                <div class="dataset-info">
                    {{ h.render_datetime(package.metadata_modified, date_format='%d %B %Y') }}
                    <div class="data-quality-tooltip">
                        <i class="fa fa-question-circle"></i>
                        <span class="tooltiptext tooltiptext-above data-quality-tooltip-inner">
                            This date indicates the date the dataset metadata was last modified on Pacific Data Hub.
                        </span>
                    </div>

                </div>
            </div>
            {% block resources %}
                {% if package.resources and not hide_resources %}
                    {% block resources_outer %}
                        <div class="dataset-resources">
                            {% block resources_inner %}
                                {% for resource in package.resources %}
                                    <a href="{{ h.url_for('dataset.read', id=package.name) }}" aria-label="resource">
                                        <div class="res-format res-format-{{ resource.format.lower() or 'data' }}"></div>
                                    </a>
                                {% endfor %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    </li>
{% endblock %}
