{% ckan_extends %}

{% set label_map = {
    'Last Modified': 'Modified',
    'Name Ascending': 'Name Asc',
    'Name Descending': 'Name Desc',
} %}

{% block search_facets %}
    {# 'Filter Results' button and facet pills were here #}
{% endblock %}


{% block search_sortby %}
    {% if facets %}
        <p class="filter-list">
            {% for field in facets.fields %}
                {% set search_facets_items = facets.search.get(field)['items'] %}

                {% for value in facets.fields[field] %}
                    <span class="filtered pill">
                        {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                            {{ facets.translated_fields[(field,value)] }}
                        {% elif field == 'type' %}
                            {{ h.spc_type_facet_label({'display_name': value}) }}
                        {% elif field == 'member_countries' %}
                            {{ h.spc_member_countries_facet_label({'display_name': value}) }}
                        {%- else -%}
                            {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
                        {%- endif %}
                        <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
                    </span>
                {% endfor %}
            {% endfor %}
        </p>
    {% endif %}

    <div class="clearfix"></div>
    <div class="search-additional-control {% if not facets %}search-without-facets{% endif %}">
        {% if facets %}
            <div>
                <div  class="show-filters-wrapper"><a class="show-filters">{{ _('Filter by') }}</a></div>
            </div>
        {% endif %}
        <div>
            {% if sorting %}
                <div class="form-select form-group control-order-by">
                    {{ _('Order by') }}
                    <select id="field-order-by" name="sort" class="form-control">
                        {% for label, value in sorting %}
                            {% if label and value %}
                                <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label_map[label]|default(label) }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% block search_sortby_button %}
                        <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
