{% ckan_extends %}
{% set show_empty = False %}
{% set label_map = {
    'Last Modified': 'Modified',
    'Name Ascending': 'Name Asc',
    'Name Descending': 'Name Desc',
} %}

{% block search_facets %}
    {# 'Filter Results' button and facet pills were here #}
    {% if count == 0 and not error %}
        <p class="extra spc-no-results">
            Please try another search.  Please try another search or
            you can make use of our
            <a href="{{ h.spc_dataset_suggestion_form() }}">Suggest a dataset</a>
            form to request the dataset you would like to make
            available, but first search the
            <a href="{{ h.spc_dataset_suggestion_path() }}">Dataset Suggestions</a>
            page to see if someone else has already requested the same
            dataset. If you find it there, you can check on its status
            and add your request by clicking on the upvote button. If
            you still cannot find the dataset you want,
        </p>
    {% endif %}
{% endblock %}

{% block search_input %}
<div class="input-group search-input-group">
  <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg search" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
  {% block search_input_button %}
  <span class="input-group-btn">
    <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="Search">
      <i class="fa fa-search"></i>
    </button>
  </span>
  {% endblock %}
</div>
{% endblock %}


{% block search_sortby %}
    {% if facets %}
        <p class="filter-list">
            {% for field in facets.fields %}
                {% set search_facets_items = facets.search.get(field)['items'] %}

                {% for value in facets.fields[field] %}
                    <span class="filtered pill">
                        {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                            {{ facets.translated_fields[(field,value)] }}
                        {% elif field == 'type' %}
                            {{ h.spc_type_facet_label({'display_name': value}) }}
                        {% elif field == 'member_countries' %}
                            {{ h.spc_member_countries_facet_label({'display_name': value}) }}
                        {%- else -%}
                            {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
                        {%- endif %}
                        <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
                    </span>
                {% endfor %}
            {% endfor %}
        </p>
    {% endif %}

    <div class="clearfix"></div>
    <div class="search-additional-control {% if not facets %}search-without-facets{% endif %}">
        {% if facets %}
            <div>
                <div  class="show-filters-wrapper"><a class="show-filters">{{ _('Filter by') }}</a></div>
            </div>
        {% endif %}
        <div class="spc-order-by-wrapper">
            <div class="suggestion-block visible-md visible-lg">
                <p class="suggestion-text">
                    <button class="btn btn-suggestion-close" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    Can not find the dataset you want? You can make
                    use of our Suggest a dataset form to request the
                    dataset you would like to make available, but
                    first search the
                    <a href="{{ h.spc_dataset_suggestion_path() }}">
                        Dataset Suggestions
                    </a>
                    page to see if someone else has already requested the
                    same dataset, and click on the upvote button.
                </p>
            </div>
            <a href="{{ h.spc_dataset_suggestion_form() }}" data-module="spc-dataset-suggestion-button" class="btn btn-suggest pull-right visible-md visible-lg ">
                <i class="fa fa-plus-circle"></i>
                {{ _('Suggest a Dataset') }}
            </a>

            {% if sorting %}
                <div class="form-select form-group control-order-by">
                    {{ _('Order by') }}
                    <select id="field-order-by" name="sort" class="form-control">
                        {% for label, value in sorting %}
                            {% if label and value %}
                                <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label_map[label]|default(label) }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% block search_sortby_button %}
                        <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
