<div class="filters">
    <h2 class="mobile-filters-heading">Filter by</h2>
    {% block sidebar_spatial_search %}
        {% if 'spatial_query' in g.plugins %}
            {% snippet "snippets/spatial_query.html", default_extent=[[-28, 132], [8, 201]] %}
        {% endif %}
    {% endblock %}

    <div>
	{% for facet in c.facet_titles %}
		{% if facet == 'type' %}
			{% set facet_func = h.spc_type_facet_label %}
		{% elif facet == 'member_countries' %}
			{% set facet_func = h.spc_member_countries_facet_label %}
		{% else %}
			{% set facet_func = None %}
		{% endif %}
	    {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, label_function=facet_func, extras=extras) }}
	{% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
