rdflib==4.2.2
pyoai==2.4.5
beautifulsoup4==4.8.0
alembic==1.0.5
#pocketsphinx
pdf2text==1.0.0
pdfminer>=20140328
bibtexparser==1.1.0
pyparsing==2.3.0
funcy==1.13
textract
iso639
mysqlclient
ckanext-ingest==0.0.2
