six>=0.13
rdflib==4.2.2
beautifulsoup4==4.8.0
alembic==1.0.5
#pocketsphinx
pdfminer>=20140328
bibtexparser==1.1.0
pyparsing==2.3.0
funcy==1.13
textract
iso639
mysqlclient
ckanext-ingest==0.0.2
ckanext-create-typed-package==0.0.4.post1
ckanext-resource-indexer[pdf]==0.0.4
pyoai==2.5.0
