beautifulsoup4==4.8.0
bibtexparser==1.1.0
funcy==1.13
iso639
mysqlclient
openpyxl==3.0.5
pdfminer>=20140328
pyoai==2.5.0
pyparsing==2.3.0
rdflib==4.2.2
six>=0.13
progressbar2==3.53.1
Pillow==8.0.1
requests-cache==0.5.2
sdmx1[cache]==1.6.0
pandas==1.2.0

ckanext-googleanalytics~=2.0.0
ckanext-scheming~=2.1.0
ckanext-create-typed-package~=0.0.4
ckanext-fpx~=0.2.2
ckanext-ingest~=0.0.2
ckanext-resource-indexer~=0.0.9
