{% extends 'package/read_base.html' %}

{% block primary_content %}
<article class="module">
    {% block page_header %}
    {{ super() }}
    {% endblock %}
    <div class="module-content pkg-request-list-table">
        {% block primary_content_inner_spc %}
            {% if requests %}
                {% include 'access/snippets/request_list_table.html' %}
            {% else %}
                <p class="empty">
                    {% trans %}
                    There are no approved requests for this dataset
                    {% endtrans %}
                </p>
            {% endif %}
        {% endblock %}
    </div>
</article>
{% endblock %}
