.dataset-read {
    display: flex;
    margin-bottom: 60px;
    .primary {
        position: relative;
        color: #2a2c2d;
        float: none;
        .module {
            margin-top: 0;
            .module-content > {
                .empty, .activity, .add-to-group, form {
                    padding: 0px 20px;
                }
            }
        }

        h1 {
            font-size: 16px;
            font-weight: 600;
            margin: 10px;
        }

        .nav-tabs {
            border: none;
            margin: 29px 0;
            li {
                &:first-child {
                    a {
                                margin-left: 18px;
                    }
                }
                a {
                    border: none;
                    font-size: 13px;
                    color: @gray;
                    border-radius: 20px;
                    margin-right: 35px;
                    padding: 8px 0px;
                    &:hover, &:focus, &:active {
                        background: none;
                    }
                    i {
                        display: none;
                    }
                }
                &.active {
                    a {
                        background-color: @dark-blue;
                        color: #ffffff;
                        font-weight: 600;
                        padding: 8px 17px 14px
                    }
                }
            }
        }
        .notes {
            font-size: 13px;
            line-height: 21px;
            padding: 0 23px;
        }
        .resources, .additional-info {
            border-top: 1px dashed #cccccc;
            clear: both;
            margin: 10px;
        }
        .resources {
            h3 {
                margin: 28px 10px;
                font-size: 14px;
                font-weight: 600;
            }
            .resource-item {
                padding-left: 88px;
                margin-bottom: 20px;

                .btn-primary.dropdown-toggle {
                    line-height: 1.3;
                    color: @heading-blue;
                    background: #fff;
                    border: 2px solid @heading-blue;
                    .caret {
                        border-top-color: @heading-blue;
                        border-bottom-color: @heading-blue;
                    }
                }
                &:hover {
                    background: none;
                }
                .heading {
                    .plain-link-on-hover;
                    display: block;
                    font-size: 13px;
                    color: #2a2c2d;
                    padding-right: 135px;
                    font-weight: 600;
                    .spc-resource-format-icon {
                        position: absolute;
                        left: 35px;
                        top: 0px;
                    }
                }
                .btn-group {
                    // right: 82px;
                    position: relative;
                    display: inline-block;
                    top: 20px;
                    // bottom: -47px;
                    .dropdown-toggle {
                        border: none;
                        color: @light-blue;
                        font-size: 12px;
                        &:focus, &:active, &:hover {
                            box-shadow: none;
                        }
                        > i {
                            .spc-bg-icon;
                            .spc-icon-external-link-2;
                            color: transparent;
                            width: 16px;
                            height: 16px;
                            vertical-align: bottom;
                        }
                        > .caret {
                            .spc-bg-icon;
                            .spc-icon-chevron-down-blue;
                            border: none;
                            width: 8px;
                            height: 8px;
                        }
                    }

                }
                .description {
                    font-size: 13px;
                    color: #727474;
                }
            }
        }
        .tags {
            display: none;
        }
        // .table-striped tbody tr:nth-child(even) td,
        // .table-striped tbody tr:nth-child(even) th {
        //   background-color:  #dfebed;
        // }
        .table-bordered {
            border-color: @border-blue;
            margin-bottom: 35px;
            th, td {
                font-size: 16px;
                font-weight: normal;
                border-color: @border-blue;
                padding-left: 22px;
                &:first-child {
                    width: 30%;
                }
            }
        }
        .media-grid {
            background: transparent;
            border: none;
        }
    }

    .secondary {
        .module {
            .module-heading {
                margin-left: 5px;
                .data-quality-tooltip {
                    i {
                        color: #fff;
                    }
                }
            }
            .module-content {
                padding-top: 60px;
            }

        }
        .tooltiptext  {
            background-color: white;
            color: #000;
            font-size: 12px;
            &:after {
                border-color: white transparent;
            }
            a {
                position: static;
                font-size: 12px;
                color: @light-blue;
                &:hover {
                    text-shadow: none;
                }
            }
        }
        .stars-block {
            text-align: center;
            i {
                margin: 20px 8px 9px;
                color: #ffc31c;
                font-size: 26px;
            }
        }
        .social {
            padding-top: 80px;
            padding-bottom: 10px;
            a {
                margin: 20px;
                .plain-link-on-hover;
                color: #000;
            }
        }
        .license {
            .module-content {
                margin: 10px 40px;
            }
        }
        .followers {
            padding: 15px 75px 0px;
            font-size: 15px;
            margin-bottom: -15px;
            span {
                vertical-align: middle;
                font-size: 33px;
                padding-right: 3px;
                font-weight: 600;
            }
        }
        .follow_button {
            text-align: center;
            .btn {
                background: linear-gradient(0deg, #0c436b 0%, #036295 100%);
                font-weight: normal;
                border: none;
                border-radius: 5px;
                &:hover, &:focus, &:active {
                    background: linear-gradient(0deg, #0c436b 20%, #036295 80%);
                }
            }
        }
        .organization-info {
            .read-more, .image, .heading, p {
                padding: 0px 32px;
            }
            .heading {
                font-size: 15px;
            }
            p {
                font-size: 12px;
            }
            .read-more {
                a {
                    font-size: 11px;
                    font-weight: lighter;
                    color: @heading-blue;
                    .plain-link-on-hover;
                }
                i {
                    display: none;
                }
            }
        }
    }
    .additional-info {
        h3 {
            margin: 20px 15px;
            font-size: 15px;
        }
        table {
            &.table-striped {
                tr {
                    &.complex-row.label-row {
                        background-color: #dfebed;
                        cursor: pointer;
                        td, th {
                            font-size: 16px;
                            font-weight: bold;
                            padding-left: 22px;
                            &:before {
                                content: "\f0d7";
                                font-family: "FontAwesome";
                                margin-right: 14px;
                                color: #2a86b8;
                                font-size: 20px
                            }
                        }
                        &.collapsed {
                            td, th {
                                &:before {
                                    margin-right: 18px;
                                    content: "\f0da";
                                }
                            }
                        }
                    }
                    &.complex-row.content-row {
                        visibility: collapse;
                        &.in {
                            visibility: visible;
                        }
                        & > td, th {
                            padding: 0px;
                        }
                    }
                }
            }
            &.nested-table {
                border: none;
                border-radius: 0px;
                margin: 0px;
                tr {
                    td {
                        border-radius: 0px;
                    }
                    &.level-label {
                        background-color: #f1f6f7;
                        td {
                            font-size: 15px;
                            &.parent-label:before {
                                content: "\f111";
                                font-family: "FontAwesome";
                                margin-right: 10px;
                                font-size: 6px;
                                color: #2a86b8;
                            }
                        }
                    }
                    &.level-data {
                        & > td {
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

.meta-export-select {
    padding: 0px 23px;
    margin: 15px 0px;
    .dropdown-toggle {
        .plain-link-on-hover;
        font-size: 12px;
        &:focus, &:active {
            box-shadow: none;
        }
        .meta-export-icon {
            .spc-bg-icon;
            width: 15px;
            height: 15px;
        }
        .meta-export-dropdown-arrow {
            .spc-bg-icon;
            width: 8px;
            height: 8px;
        }
    }
    li {
        a {
            &:hover {
                background: #dfebed;
                color: #036295;
            }
        }
    }
    &.btn-group.open {
        .btn-primary.dropdown-toggle {
            background-color: #0c436b;
        }
    }
}

.resource-view {
    .ckanext-datapreview>iframe {
        min-height: auto;
    }
}
