.dataset-read {
    display: flex;
    margin-bottom: 60px;
    .dataset-info {
        margin-bottom: 10px;
        color: @text;
        font-weight: 600;
        font-size: 13px;
        .badge {
            font-size: 14px;
            vertical-align: middle;
            margin-left: 15px;
            padding-top: 3px;
            background-color: #197b60;
        }
        .empty {
            color: #000;
        }
    }
    .primary {
        position: relative;
        color: #2a2c2d;
        float: none;
        .module {
            margin-top: 0;
            .module-content > {
                .empty, .activity, .add-to-group, form {
                    padding: 0px 20px;
                }
            }
        }

        h1 {
            font-size: 16px;
            font-weight: 600;
            margin: 10px;
        }

        .nav-tabs {
            border: none;
            margin: 29px 0;
            li {
                &:first-child {
                    a {
                                margin-left: 18px;
                    }
                }
                a {
                    border: none;
                    font-size: 13px;
                    color: @gray;
                    border-radius: 20px;
                    margin-right: 35px;
                    padding: 8px 0px;
                    &:hover, &:focus, &:active {
                        background: none;
                    }
                    i {
                        display: none;
                    }
                }
                &.active {
                    a {
                        background-color: @dark-blue;
                        color: #ffffff;
                        font-weight: 600;
                        padding: 7px 21px;
                    }
                }
            }
        }
        .notes {
            font-size: 13px;
            line-height: 21px;
            padding: 0 23px;
            img {
                max-width: 100%;
            }
        }
        .resources, .tags {
            border-top: 1px dashed #cccccc;
            clear: both;
            margin: 10px;
        }
        .resources {
            h3 {
                margin: 28px 10px;
                font-size: 14px;
                font-weight: 600;
            }
            .resource-item {
                padding-left: 58px;
                margin-bottom: 15px;
                .res-format {
                    position: absolute;
                    top: 14px;
                    left: 11px;
                }
                .empty {
                    margin-left: 0;
                }
                .restricted-access-info {
                    cursor: pointer;

                    .tooltiptext {
                        width: 160px;
                        &:after {
                            margin-left: 2px;
                        }
                    }
                }
                .restricted-access-lock {
                    float: left;
                    position: relative;
                    top: 7px;
                }
                .btn-primary.dropdown-toggle {
                    line-height: 1.3;
                    color: @heading-blue;
                    background: #fff;
                    border: 2px solid @heading-blue;
                    .caret {
                        border-top-color: @heading-blue;
                        border-bottom-color: @heading-blue;
                    }
                }
                &:hover {
                    background: none;
                }
                .heading {
                    .plain-link-on-hover;
                    display: block;
                    font-size: 13px;
                    color: #2a2c2d;
                    padding-right: 135px;
                    font-weight: 600;
                }
                .btn-group {
                    position: relative;
                    display: inline-block;
                    top: 20px;
                    .dropdown-toggle {
                        border: none;
                        color: darken(@light-blue, 10%);
                        font-size: 12px;
                        &:focus, &:active, &:hover {
                            box-shadow: none;
                            color: black;
                        }
                        > i {
                            .spc-bg-icon;
                            .spc-icon-external-link-2;
                            color: transparent;
                            width: 16px;
                            height: 16px;
                            vertical-align: bottom;
                        }
                        > .caret {
                            .spc-bg-icon;
                            .spc-icon-chevron-down-blue;
                            border: none;
                            width: 8px;
                            height: 8px;
                        }
                    }

                }
                .description {
                    font-size: 13px;
                    color: #727474;
                }
            }
        }
        .tags {
            padding-top: 22px;
            .tag-list {
                @baseBg: #f8f8f8;
                @baseColor: #001e73;
                border: none;
                padding: 15px;
                border-radius: 5px;
                box-shadow: none;
                background-color: @baseBg;
                .tag {
                    color: @baseColor;
                    border-color: $color;
                    font-size: 12px;
                    line-height: $font-size;
                    box-shadow: none;
                    padding: 8px 11px;
                    &:hover, &:active, &:focus {
                        text-decoration: none;
                        background: @baseColor;
                        color: @baseBg;
                    }
                }
            }
        }
        .table-bordered {
            border-color: @border-blue;
            margin-bottom: 35px;
            th, td {
                font-size: 16px;
                font-weight: normal;
                border-color: @border-blue;
                padding-left: 22px;
                &:first-child {
                    width: 30%;
                }
            }
        }
        .media-grid {
            background: transparent;
            border: none;
        }
    }

    .secondary {
        .module {
            .module-heading {
                margin-left: 5px;
                .data-quality-tooltip {
                    i {
                        color: #fff;
                    }
                    &.pull-right {
                        margin-left: auto;
                    }
                }
            }
            .module-content {
                padding-top: 60px;
            }

        }
        .tooltiptext  {
            background-color: white;
            color: #000;
            font-size: 12px;
            &:after {
                border-color: white transparent;
            }
            a {
                position: static;
                font-size: 12px;
                color: @light-blue;
                &:hover {
                    text-shadow: none;
                }
            }
        }
        .stars-block {
            text-align: center;
            i {
                margin: 20px 8px 9px;
                color: #ffc31c;
                font-size: 26px;
            }
        }
        .social {
            padding-top: 80px;
            padding-bottom: 10px;
            a {
                margin: 20px;
                .plain-link-on-hover;
                color: #000;
            }
        }
        .license {
            .module-content {
                margin: 10px 40px;
            }
        }
        .followers {
            padding: 15px 75px 0px;
            font-size: 15px;
            margin-bottom: -15px;
            span {
                vertical-align: middle;
                font-size: 33px;
                padding-right: 3px;
                font-weight: 600;
            }
        }
        .follow_button {
            text-align: center;
            .btn {
                background: @dark-blue;
                border: 1px solid @dark-blue;
                color: #fff;
                border-radius: 20px;
                &:hover {
                    color: @dark-blue;
                    background: #fff;
                }
            }
        }
        .organization-info {
            .read-more, .image, .heading, p {
                padding: 0px 32px;
            }
            .heading {
                font-size: 15px;
            }
            p {
                font-size: 12px;
            }
            .read-more {
                a {
                    font-size: 11px;
                    font-weight: lighter;
                    color: @heading-blue;
                    .plain-link-on-hover;
                }
                i {
                    display: none;
                }
            }
        }
    }
    .additional-info {
        h3 {
            margin: 20px 15px;
            font-size: 15px;
        }
        table {
            table-layout: fixed;
            &.table-striped {
                tr {
                    &.complex-row.label-row {
                        background-color: #dfebed;
                        cursor: pointer;
                        td, th {
                            font-size: 16px;
                            font-weight: bold;
                            padding-left: 22px;
                            &:before {
                                content: "\f0d7";
                                font-family: "FontAwesome";
                                margin-right: 14px;
                                color: #2a86b8;
                                font-size: 20px
                            }
                        }
                        &.collapsed {
                            td, th {
                                &:before {
                                    margin-right: 18px;
                                    content: "\f0da";
                                }
                            }
                        }
                    }
                    &.complex-row.content-row {
                        visibility: collapse;
                        &.in {
                            visibility: visible;
                        }
                        & > td, th {
                            padding: 0px;
                        }
                    }
                }
            }
            &.nested-table {
                border: none;
                border-radius: 0px;
                margin: 0px;
                tr {
                    td {
                        border-radius: 0px;
                    }
                    &.level-label {
                        background-color: #f1f6f7;
                        td {
                            font-size: 15px;
                            &.parent-label:before {
                                content: "\f111";
                                font-family: "FontAwesome";
                                margin-right: 10px;
                                font-size: 6px;
                                color: #2a86b8;
                            }
                        }
                    }
                    &.level-data {
                        & > td {
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

.dataset-content {
    .empty {
        color: #535252;
    }
}

.meta-export-select {
    padding: 0px 23px;
    margin: 15px 0px;
    .dropdown-toggle {
        color: darken(@light-blue, 10%);
        .plain-link-on-hover;
        font-size: 12px;
        &:focus, &:active {
            box-shadow: none;
        }
        .meta-export-icon {
            .spc-bg-icon;
            width: 15px;
            height: 15px;
        }
        .meta-export-dropdown-arrow {
            .spc-bg-icon;
            width: 8px;
            height: 8px;
        }
    }
    li {
        a {
            &:hover {
                background: #dfebed;
                color: #036295;
            }
        }
    }
    &.btn-group.open {
        .btn-primary.dropdown-toggle {
            background-color: #0c436b;
        }
    }
}

.resource-view {
    .ckanext-datapreview>iframe {
        min-height: auto;
    }
}

.badge-res {
    font-size: 0.8em;
    padding: 4px 7px 3px 7px;
}
.res-format {
    display: inline-block;
    position: relative;
    top: 14px;
    margin-right: 2px;
    .res-sprite(41, 0);
}

#dataset-resources {
    .resources-header {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            margin-top: 10px;
        }
        .btn-access {
            border-radius: 5px;
            padding: 5px 25px;

            color: white;
            font-weight: bold;
            &:hover {
                color: @dark-blue;
            }
        }
    }
}
#request-access-modal-success, #request-access-modal{
    & .modal-content {
        padding: 30px 50px;
        border-radius: 30px;
        width: 580px;
        & .modal-header {
            border: 0;
            .modal-title {
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
            .close {
                position: relative;
                top: -20px;
                right: -20px;
                opacity: 1;
                color: rgb(45, 45, 179);
            }
        }
        & .modal-body {
            text-align: center;
            .modal-body-form {
                text-align: initial;
                & > .form-group {
                    margin-bottom: 0;
                    .control-label {
                        color: #002B7F;
                        padding-left: 10px;
                        .control-required {
                            float: right;
                        }
                    }
                    .form-control {
                        padding: 6px 9px;
                    }
                }
                .org-helper-text {
                    font-size: 12px;
                    opacity: .6;
                    margin-bottom: 20px;
                    padding-left: 10px;
                }
            }
            .body-image {
                width: 35%;
                margin-bottom: 25px;
            }
            .body-text {
                font-family: "Montserrat", "Roboto";
                font-weight: normal;
                font-size: 16px;
                color: #7E7E7E;
    
                max-width: 270px;
                margin: 0 auto;
            }
        }
        & .modal-footer {
            border: 0;
            text-align: center;
            .btn {
                min-width: 200px;
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }
}
#request-access-modal {
    & .modal-content {
        padding: 30px;
        .modal-body {
            padding: 10px 0;
        }
    }
}
.res-format-aac { .res-sprite(0, 0); }
.res-format-3ds { .res-sprite(1, 0); }
.res-format-ai { .res-sprite(2, 0); }
.res-format-avi { .res-sprite(3, 0); }
.res-format-bmp { .res-sprite(4, 0); }
.res-format-cad { .res-sprite(5, 0); }
.res-format-cdr { .res-sprite(6, 0); }
.res-format-css { .res-sprite(7, 0); }
.res-format-dat { .res-sprite(8, 0); }
.res-format-dll { .res-sprite(9, 0); }
.res-format-doc { .res-sprite(10, 0); }
.res-format-dmg { .res-sprite(11, 0); }
.res-format-eps { .res-sprite(12, 0); }
.res-format-flv { .res-sprite(13, 0); }
.res-format-fla { .res-sprite(14, 0); }
.res-format-gif { .res-sprite(15, 0); }
.res-format-html { .res-sprite(16, 0); }
.res-format-indd { .res-sprite(17, 0); }
.res-format-iso { .res-sprite(18, 0); }
.res-format-jpg { .res-sprite(19, 0); }
.res-format-js { .res-sprite(20, 0); }
.res-format-midi { .res-sprite(21, 0); }
.res-format-mov { .res-sprite(22, 0); }
.res-format-mp3 { .res-sprite(23, 0); }
.res-format-mpg { .res-sprite(24, 0); }
.res-format-pdf { .res-sprite(25, 0); }
.res-format-php { .res-sprite(26, 0); }
.res-format-png { .res-sprite(27, 0); }
.res-format-ppt { .res-sprite(28, 0); }
.res-format-ps { .res-sprite(29, 0); }
.res-format-psd { .res-sprite(30, 0); }
.res-format-raw { .res-sprite(31, 0); }
.res-format-sql { .res-sprite(32, 0); }
.res-format-svg { .res-sprite(33, 0); }
.res-format-tif { .res-sprite(34, 0); }
.res-format-txt { .res-sprite(35, 0); }
.res-format-wmv { .res-sprite(36, 0); }
.res-format-xls { .res-sprite(37, 0); }
.res-format-xml { .res-sprite(38, 0); }
.res-format-zip { .res-sprite(39, 0); }
.res-format-api { .res-sprite(40, 0); }
.res-format-data { .res-sprite(41, 0); }
.res-format-csv { .res-sprite(42, 0); }
.res-format-docx { .res-sprite(43, 0); }
.res-format-json { .res-sprite(44, 0); }
.res-format-geojson { .res-sprite(45, 0); }
.res-format-jpeg { .res-sprite(46, 0); }
.res-format-kml { .res-sprite(47, 0); }
.res-format-kmz { .res-sprite(48, 0); }
.res-format-rdf { .res-sprite(49, 0); }
.res-format-wms { .res-sprite(50, 0); }
.res-format-xlsx { .res-sprite(51, 0); }
