@font-face {
    font-family: 'Calibri';
    src: url('../../../fonts/Calibri-Bold.ttf');
    src: url('../../../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/Calibri-Bold.woff2') format('woff2'),
        url('../../../fonts/Calibri-Bold.woff') format('woff'),
        url('../../../fonts/Calibri-Bold.ttf') format('truetype'),
        url('../../../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../../../fonts/Calibri-Light.ttf');
    src: url('../../../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/Calibri-Light.woff2') format('woff2'),
        url('../../../fonts/Calibri-Light.woff') format('woff'),
        url('../../../fonts/Calibri-Light.ttf') format('truetype'),
        url('../../../fonts/Calibri-Light.svg#Calibri-Light') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../../../fonts/Calibri.ttf');
    src: url('../../../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/Calibri.woff2') format('woff2'),
        url('../../../fonts/Calibri.woff') format('woff'),
        url('../../../fonts/Calibri.ttf') format('truetype'),
        url('../../../fonts/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../../../fonts/fontawesome-webfont.ttf');
    src: url('../../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/fontawesome-webfont.woff') format('woff'),
        url('../../../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../../../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../../fonts/montserrat/Montserrat-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../../../fonts/montserrat/Montserrat-SemiBold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../../../fonts/montserrat/Montserrat-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../../../fonts/montserrat/Montserrat-Regular.otf');
    font-weight: 400;
    font-style: normal;
}