// main: spc.less

body {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #f7f7f7;
}
a {
    color: darken(@light-blue, 10%);
}
header.navbar {
    position: relative;
    &>.container {
        position: unset;
        box-sizing: border-box;
        width: 1170px;
        padding: 0 15px;
        .collapse {
            position: unset;
        }
    }
}
@media(max-width: 767px) {
    .header-search-wrapper {
        .masthead {
            height: 585px;
        }
    }
}
.masthead {
    background-image: linear-gradient(135deg, rgba(0,198,236,0.85) 0%, rgba(0,3,102,0.95) 100%), url("../../base/images/header.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    height: 650px;
    line-height: 70px;
    line-height: 1em;
    margin-bottom: -485px;
    padding: 23px 2px;
    z-index: auto;
    .logo {
        img {
            max-width: 230px;
        }
    }
    #block-mainmenu {
        float: right;
        .visually-hidden {
            display: none;
        }
        li {
            .hide-empty-element;
            display: inline-block;
            border-color: transparent;
            padding: 0px 24px;
            a {
                text-transform: uppercase;
                padding: 2px;
                font-size: 13px;
                text-decoration: none;
                line-height: 70px;
                display: inline-block;
                transition: all 0.3s;

            }
            &:hover {
                a, i {
                    color: @black;
                }
            }
            a:hover {
                color: #ffbc00;
                & + i {
                    color: #ffbc00;
                }
            }
        }

        & > ul > li:last-child {
            display: none;
        }
        .dropdown {
            &:hover>.dropdown-menu {
                display: block;
            }

            .dropdown-menu {
                margin: 0;
                border: 0;
                border-radius: 0px;
                padding: 0;
                color: #7B7B7B;
                box-shadow: none;
                li a {
                    color: #7B7B7B;
                    &:before {
                        position: absolute;
                        font-size: 20px;
                        color: #7B7B7B;
                        top: 15px;
                        left: 15px;
                        z-index: 1;
                        font-family: 'FontAwesome';
                    }
                }
            }
            .dropdown-toggle {
                .fa-caret-down {
                    margin-left: 7px;
                }
                &.restricted {
                    color: #8C8C8C;
                }
            }

            li {
                .hide-empty-element;
                display: block;
                padding: 0;
                margin: 0px;
                &:hover {
                    color: @black !important;
                }
                a {
                    font-family: 'Roboto';
                    line-height: 1rem;
                    padding: 15px 50px;
                    display: block;
                    border-left: 3px solid #fff;

                    &:hover {
                        background-color: transparent;
                        color: @black !important;
                        background-color: #f5f5f5;
                        border-left: 3px solid @black;
                        &:before {
                            color: @black;
                        }
                    }
                }
                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }
            }

            &:hover {
                background-color: #fff;
            }
        }
    }
    .navigation {
        .nav-pills {
            li {
                a {
                    &:hover, &:focus, &:active {
                        background-color: @blue;
                    }
                }
                &.active {
                    a {
                        background-color: @blue;
                    }
                }
            }
        }
    }
}
.logo {
    img {
        max-width: 172px;
    }
}
.account-masthead {
    background: #0072af;
    .account {
        .list-unstyled li a {
            color: white;
        }
    }
}


.site-footer {
    padding: 0;
    background: unset;
}
[role=main], .main {
    background: transparent;
    padding-bottom: 25px;
    padding-top: 17px;
    .toolbar {
        position: absolute;;
        margin-left: -15px;
        background-color: transparent;
        top: -30px;
        .breadcrumb {
            li {
                a {
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    @media (max-width: 767px) {
                        font-size: 14px;
                        color: #fff;
                    }
                }
                &.active {
                    a {
                        color: #fff;
                        @media (max-width: 767px) {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
                &:after {
                    content: '>';
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                    margin-left: 4px;
                }
                & + li:before {
                    content: '';
                    padding: 0px;
                }
                &:last-child:after {
                    content: '';
                }
            }
        }
    }
    #content {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 2px 3px #ccc;
    }
}

.wrapper {
    background: transparent;
    box-shadow: none;
    border: none;
    .primary {
        border: none;
        padding: 0px;
        .page-header {
            margin-left: 0;
        }
        .media-grid {
            margin-left: -10px;
            background: #dfebed;
        }
        .module {
        }
        div.module-content {
            padding: 0px;
        }
    }
    .secondary {
        .organization-info {
            .read-more {
                overflow: hidden;
            }
        }
    }
}

.filters {
    .module-footer {
        border-top: none;
        a {
            font-size: 16px;
            font-weight: normal;
            i {
                font-size: 13px;
                font-weight: bold;
                color: @heading-blue;
            }
        }
    }
}
.filters, .secondary {
    .module-heading {
        background-color: @heading-blue;
        font-size: 19px;
        font-weight: normal;
        color: #fff;
        border-radius: 2px;
        .action {
            color: rgb(0, 0, 0);
        }
    }
    .nav-item {
        a {
            font-size: 16px;
            padding: 10px 15px;
        }
        &.active {
            > a:before {
                display: none;
            }
        }
    }
}
.btn {
    background: @dark-blue;
    border: 1px solid @dark-blue;;
    color: white;
    border-radius: 20px;
    font-weight: 100;
    &:hover, &:active, &:focus {
        color: @dark-blue;
        background: white;
    }
    &.btn-suggest, &.btn-suggestion-close {
        color: white;
        background-color: #009fde;
        border: 1px solid $background-color;
        &:hover, &:active {
            background-color: white;
            color: #009fde;
        }
        .active ~ & {
          z-index: 2;
        }
    }

    &.btn-suggest {
        transition: top .4s, right .4s;
        position: relative;
        margin: -4px 5px 0px 17px;
        border-radius: 5px;
        font-size: 14px;
        padding: 9px 12px;
        font-weight: 600;
        box-shadow: none;
        top: 0px;
        right: -10px;
        .fa {
            vertical-align: middle;
            font-size: 20px;
            margin-right: 6px;
        }
        &.active {
            top: 225px;
            right: 9px;
        }
    }
    &.btn-suggestion-close {
        position: absolute;
        padding: 2px 7px;
        right: 13px;
        top: -12px;
        .fa {
            font-size: 14px;
            margin-right: 0px;
        }
    }
}

.clearfix {
    clear: both;
}
.ml-5 {
    margin-left: 5px;
}
.form-actions {
    margin: 0;
}
.pagination {
    padding-bottom: 60px;
    margin-top: 45px;
    ul {
        box-shadow: none;
        &>li {
            display: inline-block;
            a {
                color: #fff;
                background-color: #bcdfe5;
                border: none;
                border-radius: 5px;
                padding: 5px 12px;
                &:hover, &:focus, &:active {
                    background-color: #bcdfe5;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #036295;
                    border-radius: 5px;
                }
            }
            &:last-child {
                a {
                    border-radius: 5px;
                }
            }
        }
    }
}

.data-quality-tooltip {
    display: inline-block;
    position: relative;
    i {
        color: #3a87ad;
        &:hover {
            cursor: help;
        }
    }
    .tooltiptext {
        z-index: 2;
        visibility: hidden;
        position: absolute;
        left: -85px;
        bottom: 35px;
        width: 120px;
        font-size: 14px;
        line-height: 1;
        color: #fff;
        text-align: center;
        background-color: #3a87ad;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        padding: 12px;
        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                text-shadow: 1px 1px @heading-blue;
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: 20px;
            border-width: 10px;
            border-style: solid;
            top: 100%;
            border-color: #3a87ad transparent transparent transparent;
        }
    }
    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}

.page_primary_action {
    padding-left: 15px;
    .btn {
        margin: 15px 5px;
    }
}

.desktop-only { display: none;}
.fa-question-circle:before {
    .spc-icon-question;
    color: transparent;
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.module {
    position: relative;
    &:first-child .module-heading {
        border-radius: 25px 5px 5px 25px;
    }
    .module-heading {
        background: #f8f8f8;
        font-size: 16px;
        font-weight: 600;
        color: @black;
        border-radius: 25px 5px 5px 25px;
        border: none;
        margin: 12px 16px 0 13px;
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
        padding: 2px;
        z-index: 5;
        a {
            position: absolute;
            right: 10px;
            top: 12px;
            color: #001e73;
            font-size: 17px;
            text-decoration: none;
        }
        & + nav {
            padding-top: 61px;
        }
        .heading-icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 50%;
            background-color: #001e73;
            background-repeat: no-repeat;
            background-position: 50%;
            vertical-align: middle;
            background-size: 11px;
            margin: 4px 11px;
            margin-right: 6px;
        }
    }
}
table.table {
    &.table-bordered {
        border: none;
    }
    table-layout: auto;
    background-color: unset;
    margin-bottom: 46px;
    tr {
        td, th {
            border: none;
            font-size: 13px;
            font-weight: normal;
            border-radius: 0px;
            background-color: unset;
            padding: 6px;
            vertical-align: middle;
            &:first-child {
                border-left: none;
            }
            &.dataset-label {
                width: 40%;
            }
            &.dataset-details {
                width: 70%;
                font-weight: lighter;
                word-break: break-word;
                word-wrap: break-word;
            }
        }
    }
}

// request list table styles for org and pkg pages
.request-list-table {
    td.package-name {
        width: 33%;
    }
    td.reason {
        width: 25%;
    }
}
// search-queries
.query-actions {
    color: #006c94;
    display: flex;
    .query-search, .query-delete {
        margin-right: 10px;
    }
    .btn-delete {
        display: contents;
    }
}

// fix resource heading on resource page
.module {
    & .module-heading.resource {
        position: initial;
    }
}

.module-content {
    &.pkg-request-list-table {
        padding: 0 !important;
    }
    &.request-list-table-org {
        padding-right: 20px !important;
    }
}

.form-group {
    & .controls {
        & .select2-container {
            height: unset;
            padding: unset;
            border: none;
            .select2-search-choice {
                a {
                    top: 4px;
                }
            }
        }
    }
}

.dropdown {
    .dropdown-toggle {
        .explore {
            position: relative;
            top: 2px;
            svg {
                path {
                    fill: @heading-blue;
                }
            }
        }
        .tick {
            position: relative;
            bottom: 1px;
            svg {
                path {
                    fill: @heading-blue;
                }
            }
        }
    }
    &.restricted {
        .dropdown-toggle {
            color: #8C8C8C !important;
            .explore svg path{
                fill: #8C8C8C;
            }
            .tick {
                svg path{
                    fill: #8C8C8C;
                }
            }
        }
    }
}

.dropdown-menu {
    min-width: initial;
    min-width: auto;
}

.spc-open-on-pacific-map {
    i {
        font-weight: bold;
        color: #9ca1aa;
    }
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 5px;
    color: #fff;
    display: block;
    min-height: 28px;
    font-family: "Calibri", sans-serif;
    font-size: 16px;
    opacity: 0.95;
    background: #33404A;
    padding: 10px 10px 5px 10px;
    border-radius: 2px;
    border: 0;
}

.spc-open-on-pacific-map:hover {
    cursor: pointer;
    background:#006FC6;
}

// FOOTER STYLES
#mini-panel-footer {
    background           : url("../../base/images/footer-background.svg") top center no-repeat;
    background-attachment: fixed;
    background-size      : cover;
    padding              : 0;
    min-height           : 250px;
    position             : relative;
    display              : block;
    margin-top           : auto;
    margin               : 0;
    box-sizing           : border-box;

    &::before {
        background-image: linear-gradient(to right, rgba(17, 94, 163, 0.97), rgba(86, 95, 202, 0.97));
        content         : "";
        top             : 0;
        left            : 0;
        bottom          : 0;
        right           : 0;
        position        : absolute;
        z-index         : 0;
        display         : block;
        height          : 100%;
        visibility      : initial;
    }
    #two-50-top-wrapper {
        z-index       : 1;
        position      : relative;
        min-height    : 170px;
        padding       : 40px 0 0 0;
        display       : -ms-flexbox;
        display       : flex;
        -ms-flex-align: center;
        align-items   : center;
        -ms-flex-flow : row wrap;
        flex-flow     : row wrap;
        margin        : 0 auto;

        .two-50-top {
            float: left;
            width: 100%;
        }

        .region-inner {
            .field-items {
                display                : -ms-flexbox;
                display                : flex;
                -ms-flex-pack          : distribute;
                justify-content        : space-around;
                max-width              : 950px;
                margin                 : 0 auto;
                -ms-flex-wrap          : wrap;
                flex-wrap              : wrap;
                -ms-flex-preferred-size: 100%;
                flex-basis             : 100%;
                padding                : 0 40px;

                a {
                    -ms-flex-preferred-size: auto;
                    flex-basis             : auto;
                    display                : block;
                    transform              : scale(1);
                    transition             : transform 0.3s ease-in-out;
                    opacity                : 1;
                    transform              : translateY(0);
                    margin                 : 0 40px 0 0;
                    text-align             : center;
                    display                : -ms-flexbox;
                    display                : flex;
                    -ms-flex-align         : center;
                    align-items            : center;
                    min-height             : 55px;

                    &:hover {
                        transform: translateY(-10%);
                        opacity  : 1;
                    }

                    img {
                        max-height: 55px;
                        max-width : 120px;
                    }
                }
            }

            .contextual-links-wrapper {
                display: none;
            }
        }
    }

    nav {
        padding  : 0 40px;
        max-width: 950px;
        margin   : 0 auto;
        ul {
            color      : rgba(255, 255, 255, 0.6);
            -ms-flex   : 0 0 100%;
            flex       : 0 0 100%;
            text-align : right;
            font-size  : 11px;
            font-weight: 400;
            margin     : 0;
            list-style : none;
            float      : left;
            display    : flex;
            padding    : 0;

            li {
                margin-right: 10px;

                a {
                    color: rgba(255, 255, 255, .6);
                }
            }
        }
    }
}
