body {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #f7f7f7;
}
a {
    color: darken(@light-blue, 10%);
}
header.navbar {
    position: relative;
    &>.container {
        position: unset;
        box-sizing: border-box;
        width: 1170px;
        padding: 0 15px;
        .collapse {
            position: unset;
        }
    }
}
.masthead {
    background-image: linear-gradient(135deg, rgba(0,198,236,0.85) 0%, rgba(0,3,102,0.95) 100%), url("@{relative_root}/base/images/header.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    height: 650px;
    line-height: 70px;
    line-height: 1em;
    margin-bottom: -485px;
    padding: 23px 2px;
    z-index: auto;
    .logo {
        img {
            max-width: 135px;
        }
    }
    #main-menu {
        li {
            .hide-empty-element;
            display: inline-block;
            border-color: transparent;
            a {
                text-transform: uppercase;
                padding: 2px;
                font-size: 13px;
                text-decoration: none;
                line-height: 70px;
                display: inline-block;
                padding: 0px 24px;
                transition: all 0.3s;

                @media (max-width: 1199px) {
                      padding: 0 12px;
                }

                &:hover {
                    color: #ffbc00;
                }
            }
        }
        & > ul > li:last-child {
            display: none;
        }
        .dropdown {
            &:hover>.dropdown-menu {
                display: block;
            }
 
            .dropdown-menu {
                margin: 0;
                border: 0;
                border-radius: 0px;
                padding: 0;
                color: #7B7B7B;
                box-shadow: none;
                &:before {
                    color: #7B7B7B;
                }
            }
            .dropdown-toggle {
                .fa-caret-down {
                    margin-left: 7px;
                }
            }

            li {
                .hide-empty-element;
                display: block;
                padding: 0;
                margin: 0px;
                &:hover {
                    color: #000 !important;
                }
                a {
                    font-family: 'Roboto';
                    line-height: 1rem;
                    padding: 15px 50px;
                    display: block;

                    &:hover {
                        background-color: transparent;
                        color: #000 !important;
                        background-color: #f5f5f5;
                        border-left: 3px solid #000000;
                    }
                }
                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }
            }

            &:hover, &:focus, &:active {
                background-color: #fff;
                &>a{
                    color: #ffbc00;
                }
            }
        }
    }
    .navigation {
        .nav-pills {
            li {
                a {
                    &:hover, &:focus, &:active {
                        background-color: @blue;
                    }
                }
                &.active {
                    a {
                        background-color: @blue;
                    }
                }
            }
        }
    }
}
.logo {
    img {
        max-width: 172px;
    }
}
.account-masthead {
    background: #0072af;
    .account {
        .list-unstyled li a {
            color: white;
        }
    }
}


.site-footer {
    padding: 0;
    background: unset;
}
[role=main], .main {
    background: transparent;
    padding-bottom: 25px;
    .toolbar {
        position: absolute;;
        margin-left: -15px;
        background-color: transparent;
        top: -40px;
        .breadcrumb {
            li {
                a {
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    @media (max-width: 767px) {
                        font-size: 14px;
                        color: #fff;
                    }
                }
                &.active {
                    a {
                        color: #fff;
                        @media (max-width: 767px) {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
                &:after {
                    content: '>';
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                    margin-left: 4px;
                }
                & + li:before {
                    content: '';
                    padding: 0px;
                }
                &:last-child:after {
                    content: '';
                }
            }
        }
    }
    #content {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 2px 3px #ccc;
    }
}

.wrapper {
    background: transparent;
    box-shadow: none;
    border: none;
    .primary {
        border: none;
        padding: 0px;
        .page-header {
            margin-left: 0;
        }
        .media-grid {
            margin-left: -10px;
            background: #dfebed;
        }
        .module {
        }
        div.module-content {
            padding: 0px;
        }
    }
    .secondary {
        .organization-info {
            .read-more {
                overflow: hidden;
            }
        }
    }
}

.filters {
    .module-footer {
        border-top: none;
        a {
            font-size: 16px;
            font-weight: normal;
            i {
                font-size: 13px;
                font-weight: bold;
                color: @heading-blue;
            }
        }
    }
}
.filters, .secondary {
    .module-heading {
        background-color: @heading-blue;
        font-size: 19px;
        font-weight: normal;
        color: #fff;
        border-radius: 2px;
        .action {
            color: rgb(0, 0, 0);
        }
    }
    .nav-item {
        a {
            font-size: 16px;
            padding: 10px 15px;
        }
        &.active {
            > a:before {
                display: none;
            }
        }
    }
}
.btn {
    background: @dark-blue;
    border: 1px solid @dark-blue;;
    color: white;
    border-radius: 20px;
    font-weight: 100;
    &:hover, &:active, &:focus {
        color: @dark-blue;
        background: white;
    }
}

.clearfix {
    clear: both;
}
.ml-5 {
    margin-left: 5px;
}
.form-actions {
    margin: 0;
}
.pagination {
    padding-bottom: 60px;
    margin-top: 45px;
    ul {
        box-shadow: none;
        &>li {
            display: inline-block;
            a {
                color: #fff;
                background-color: #bcdfe5;
                border: none;
                border-radius: 5px;
                padding: 5px 12px;
                &:hover, &:focus, &:active {
                    background-color: #bcdfe5;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #036295;
                    border-radius: 5px;
                }
            }
            &:last-child {
                a {
                    border-radius: 5px;
                }
            }
        }
    }
}

.data-quality-tooltip {
    display: inline-block;
    position: relative;
    i {
        color: #3a87ad;
        &:hover {
            cursor: help;
        }
    }
    .tooltiptext {
        visibility: hidden;
        position: absolute;
        left: -85px;
        bottom: 35px;
        width: 120px;
        font-size: 14px;
        line-height: 1;
        color: #fff;
        text-align: center;
        background-color: #3a87ad;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        padding: 12px;
        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                text-shadow: 1px 1px @heading-blue;
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: 20px;
            border-width: 10px;
            border-style: solid;
            top: 100%;
            border-color: #3a87ad transparent transparent transparent;
        }
    }
    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}

.page_primary_action {
    .btn {
        margin: 15px;
    }
}


@media(min-width: 769px) {
    .dataset-map-expanded {
        #dataset-map {
            width: 100%;
            max-width: 1008px;
            left: 0;
            border-color: @border-blue;
            border-radius: 2px;
            .btn.cancel {
                color: #036295;
                background: #fff;
                border: 2px solid #036295;
                line-height: 16px;
            }
            .btn.apply {
                &.disabled {
                    line-height: 16px;
                    background-color: transparent;
                    opacity: 0.8;
                }
            }
        }
    }
}

.desktop-only { display: none;}
.fa-question-circle:before {
    .spc-icon-question;
    color: transparent;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.module {
    position: relative;
    &:first-child .module-heading {
        border-radius: 25px 5px 5px 25px;
    }
    .module-heading {
        background: #f8f8f8;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        border-radius: 25px 5px 5px 25px;
        border: none;
        position: absolute;
        margin: 12px 16px 0 13px;
        top: 0;
        left: 0px;
        right: 0px;
        padding: 2px;
        a {
            position: absolute;
            right: 10px;
            top: 12px;
            color: #001e73;
            font-size: 17px;
            text-decoration: none;
        }
        & + nav {
            padding-top: 61px;
        }
        .heading-icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 50%;
            background-color: #001e73;
            background-repeat: no-repeat;
            background-position: 50%;
            vertical-align: middle;
            background-size: 11px;
            margin: 4px 11px;
            margin-right: 3px;
        }
    }
}
table.table {
    &.table-bordered {
        border: none;
    }
    table-layout: auto;
    background-color: unset;
    margin-bottom: 46px;
    tr {
        td, th {
            border: none;
            font-size: 13px;
            font-weight: normal;
            border-radius: 0px;
            background-color: unset;
            padding: 6px;
            vertical-align: middle;
            &:first-child {
                border-left: none;
            }
            &.dataset-label {
                width: 40%;
            }
            &.dataset-details {
                width: 70%;
                font-weight: lighter;
                word-break: break-word;
                word-wrap: break-word;
            }
        }
    }
}
