@media(max-width: 1124px) {
  [role=main] .toolbar, .main .toolbar {
    margin: 0 0 20px;
  }
  header.navbar {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    & > .container {
      max-width: 1000px;
      width: auto;
      padding: 0 15px;
    }
  }
  .dataset-read {
    .primary {
      ul.nav.nav-tabs {
        position: unset;
        left: 0;
        top: 0;
        padding-top: 10px;
        li {
          display: inline-block;
          a {
            width: auto;
            border-radius: 5px 5px 0 0;
            border-right: 1px solid #bcdfe5;
          }
        }
      }
    }
  }
}

// @meida (max-width: 991px) {
@media(max-width: 991px) {
    #main-menu {
        display: none;
    }
}
// }


@media(max-width: 768px) {
  body {
    padding: 0;
  }
  .nav-simple > li.nav-item a {
      &:before {
	  position: static;
      }
  }
  .secondary {
      margin-top: 10px;
      float: left;
      display: block;
      width: 100%;
      margin-left: 0;
      box-sizing: border-box;
  }
  .account-masthead {
    margin-left: 0;
    margin-right: 0;
  }
  [role=main] #content {
    // padding: 0 20px;
      margin: 0px 15px;
    .primary.span9 {
      width: 100%;
    }
    .show-filters.btn {
      background: linear-gradient(0deg, #0c436b 0%, #036295 100%);
      font-weight: normal;
      border: none;
      border-radius: 5px;
      color: #fff;
      &:hover, &:focus, &:active {
        background: linear-gradient(0deg, #0c436b 20%, #036295 80%);
        color: #fff;
      }
    }
    .toolbar {
        display: none;
    }
  }
  .dataset-read {
    display: block;
    .primary {
      background: #fff;
    }
  }
  .dataset-list {
    .dataset-item {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .dataset-read {
    .primary {
      .resource-list {
        .resource-item {
          .heading {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

.wrapper {
    .primary {
	.media-grid {
	    margin: 0 -15px;
	}
    }
}
