@relative_root: "/data";

@background: #f8f8f8;
@text: #1d1d1e;

@turquoise: #00b0ca;

@gray: #525252;
@light-gray: #c6c6c6;

@dark-blue: #001e73;
@blue: #0b6591;
@light-blue:  #0091c7;
@text-blue: #0869a1;
@heading-blue: #036295;
@border-blue: #bcdfe5;

@spc-primary-color: #007AD8;
@red: red;
