[groups]

styles =
    styles/ma5-mobile-menu.css
    styles/jquery.json-browse.css
    styles/spc.css
    styles/social-share.css

spatial_query_rewrite_css =
    styles/spatial_query.css

scripts =
    scripts/jquery.touchSwipe.js
    scripts/ma5-mobile-menu.js
    scripts/friendly-coords.js
    scripts/spatial-select.js
    scripts/spc-spatial-query.js
    scripts/clonable-fieldset.js
    scripts/jquery.json-browse.js
    scripts/social-share.js
    scripts/main.js
    scripts/spc-sortable-facets.js
