{% extends "admin/base.html" %}

{% block primary_content_inner %}
    <h2>Search queries</h2>
    <a href="{{ h.url_for('search_queries.download_search_queries') }}">
        <button class="btn btn-primary">{{ _('Download as CSV') }}</button>
    </a>
    <table style="table-layout:auto; margin-top: 20px;" class="table table-striped table-condensed">
        <thead>
            <th>Query</th>
            <th>Counter</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for q in queries %}
                <tr>
                    <td>
                        <code>{{ q.query }}</code>
                    </td>
                    <td>
                        {{ q.count }}
                    </td>
                    <td class="query-actions">
                        <a href="{{ h.url_for('search', q=q.query) }}" class="query-search">
                            <i class="fa fa-search" title="{{ _('Search') }}"></i>
                        </a>

                        <form action="search-queries" method="post">  
                            <a href="">
                                <button name="q_name" value="{{ q.query }}" type="submit" class="btn-delete" title="{{ _('Delete query') }}">
                                    <i class="fa fa-trash" title="{{ _('Delete query') }}"></i>
                                </button>
                            </a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pager.pager() }}
{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            {{ _('Search Queries') }}
        </h2>
        <div class="module-content">
            {% trans %}
            <p>Show user search queries.</p>
            {% endtrans %}
        </div>
    </div>
{% endblock %}
