{% ckan_extends %}

{% block resources_title %}
<h2 class="module-heading resource"><i class="fa fa-files-o"></i> {{ _("Resources") }}</h2>
{% endblock %}

{% block resources_list %}
    <ul class="list-unstyled nav nav-simple">
    {% for resource in resources %}
        <li class="nav-item{{ ' active' if active == resource.id }}">
        {% link_for h.resource_display_name(resource), named_route='resource.read', id=pkg.name, resource_id=resource.id, inner_span=true %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}