{% ckan_extends %}

{% block resource_item_title %}
    <a href="{{ url }}" title="{{ res.name or res.description }}" class="heading">
        <div class="res-format res-format-{{ res.format.lower() or 'data' }}"></div>
        {{ h.resource_display_name(res) }}
        {% if h.spc_has_cesium_view(res) %}
      <span class="badge badge-info badge-res">
        PacificMap <i class="fa fa-globe"></i>
      </span>
    {% endif %}

    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
    {% if h.spc_is_restricted(pkg) and not h.check_access('restrict_dataset_show', data_dict=pkg) %}
        <p class="description">
            <span class="restricted-access-info data-quality-tooltip">
                <i class="fa fa-info-circle"></i>
                <span class="tooltiptext tooltiptext-above data-quality-tooltip-inner">
                    {{ _('Please click on the button "Request an Access"  for full access.') }}
                </span>
            </span>
            {{ _('This data needs additional permissions for full access') }}
        </p>
    {% endif %}

{% endblock %}

{% block resource_item_explore %}
{% if not url_is_edit %}
{% if h.spc_is_restricted(pkg) and not h.check_access('restrict_dataset_show', data_dict=pkg) %}
<div class="dropdown btn-group restricted">
    <span class="restricted-access-lock">
        {% snippet 'snippets/svg/lock.svg' %}
    </span>
{% else %}
<div class="dropdown btn-group">
{% endif %}
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="explore">
        {% snippet 'snippets/svg/explore.svg' %}
    </span>
    {{ _('Explore') }}
    <span class="tick">
        {% snippet 'snippets/svg/tick.svg' %}
    </span>
  </a>
  <ul class="dropdown-menu">

{% block resource_item_explore_links %}
    <li>
        <a href="{{ url }}">
            {% if res.has_views %}
                <i class="fa fa-bar-chart-o"></i>
                {{ _('Preview') }}
            {% else %}
                <i class="fa fa-info-circle"></i>
                {{ _('More information') }}
            {% endif %}
        </a>
    </li>
    {% if res.url and h.is_url(res.url) %}
        <li>
            <a href="{{ res.url }}" class="resource-url-analytics-downloadable" target="_blank"{% if 'json' in res.format|lower %} download="{{ res.name or 'resource.json' }}"{% endif %}>
                {% if res.has_views or res.url_type == 'upload' %}
                    <i class="fa fa-arrow-circle-o-down"></i>
                    {{ _('Download') }}
                {% else %}
                    <i class="fa fa-external-link"></i>
                    {{ _('Go to resource') }}
                {% endif %}
            </a>
        </li>
    {% endif %}
    {% if can_edit %}
        <li>
            <a href="{{ h.url_for('resource.edit', id=pkg.name, resource_id=res.id) }}">
                <i class="fa fa-pencil-square-o"></i>
                {{ _('Edit') }}
               </a>
        </li>
    {% endif %}
{% endblock %}

</ul>
</div>
{% endif %}
{% endblock %}