{% ckan_extends %}

{% block resource_item_title %}
  <a href="{{ url }}" title="{{ res.name or res.description }}" class="heading">
    <div class="res-format res-format-{{ res.format.lower() or 'data' }}"></div>
    {{ h.resource_display_name(res) }}
    {% if h.spc_is_valid_cesium_format(res) %}
      <span class="badge badge-info badge-res">
        PacificMap <i class="fa fa-globe"></i> 
      </span>
    {% endif %}

    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
{% endblock %}
