<style>
 .additional-info td, .additional-info th  {
     width: auto
 }
</style>
{% macro render_rows(data, parents=[]) %}
	{% set level = parents|count + 1 %}
  {% if data is iterable %}
		{% for item in data %}
	    {% if item is string and data[item] is string %}
				{% if data[item] %}
			    <tr>
						<td>{{ item|replace('_', ' ')|capitalize }}</td>
						<td>{{ data[item] }}</td>
					</tr>
				{% endif %}
	    {% elif item is string and data[item] is not undefined %}
				{% if data[item] %}
					<tr class="label-row level-{{ level }}">
						<td colspan="2">
							{{ item|replace('_', ' ')|capitalize }}
						</td>
					</tr>
					<tr class="data-row level-{{ level }}">
						<td colspan="2">
				    	<table class="table nested-table">
				    		{{ render_rows(data[item], parents + [item|replace('_', ' ')|capitalize]) }}
				    	</table>
			    	</td>
		    	</tr>
				{% endif %}
    	{% elif item is string and item %}
				<tr>
				    <td>{{ parents | join(' | ') }}</td>
				    <td>{{ item  }}</td>
				</tr>
	    {% elif item %}
				{{ render_rows(item, parents) }}
	    {% endif %}
		{% endfor %}
  {% endif %}
{% endmacro %}
{% if data[field.field_name] %}
    <table class="table nested-table">
{% endif %}
			{{ render_rows(data[field.field_name]) }}
{% if data[field.field_name] %}
    </table>
{% endif %}
