{% ckan_extends %}

{% block styles %}
    {{ super() }}
    {% resource 'spc/styles' %}
    {% set footer_url = h.get_footer_css_url() %}
    {% if footer_url %}
    	<link rel="stylesheet" href="{{ footer_url }}">
    {% endif %}
{% endblock %}

{%- block scripts %}
    {% resource 'spc/scripts' %}
{% endblock -%}

{% block meta %}
    {{ super() }}

    {% block social_meta %}
        <meta property="og:title" content="{{ self.title() }}">
        <meta property="og:description" content="{{ g.site_description }}">
        <!-- <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg"> -->
        <meta property="og:url" content="{{ request.url }}">
        <meta name="twitter:card" content="summary_large_image">
    {% endblock social_meta %}
{% endblock meta %}
