{% ckan_extends %}

{% block header_logo %}
    {% if g.site_logo %}
        <a class="logo" href="/">
            <img src="/themes/custom/spc/logo.svg" alt="{{ g.site_title }}" title="{{ g.site_title }}" height="46" />
        </a>
    {% else %}
        <h1>
            <a href="/">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
    {% endif %}
{% endblock %}

{% block header_site_search %}
{% endblock %}

{% block header_account_notlogged %}
    <li><a href="{{ h.get_drupal_user_url('login', h.full_current_url()) }}">{{_('Log in')}}</a></li>
{% endblock %}

{% block header_account_log_out_link %}
    <li>
        <a href="{{ h.get_drupal_user_url('logout', h.full_current_url()) }}" title="{{ _('Log out') }}">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span class="text">{{ _('Log out') }}</span>
        </a>
    </li>
{% endblock %}
