{% import 'macros/form.html' as form %}

{{ form.select('predefined_areas', label="Areas", options=[{}] + h.get_eez_options(), attrs={'multiple': true, 'data-module': 'autocomplete', 'data-module-tags': true}) }}


{% call form.textarea(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    value=data[field.field_name],
    error=errors[field.field_name],
    classes=['control-full'],
    attrs=field.form_attrs if 'form_attrs' in field else {},
    is_required=h.scheming_field_required(field),
    placeholder=h.scheming_language_text(field.form_placeholder)
)
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    {# Inputs are type == text rather than number because IE11's
    validation trips over numbers with 5 decimal places #}
{% endcall %}

<div class="control-group">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formatted-spatial-wrapper">{{ _("Show formatted spatial coverage") }}</button>
    <div class="collapse" id="formatted-spatial-wrapper">
	<pre id="formatted-spatial">

	</pre>
    </div>
</div>

{% set default_extent=[[5, 160], [-20, 210]] %}
<section id="dataset-map" class="module module-narrow module-shallow control-group">
    {% set map_config = h.get_common_map_config() %}
    <div class="dataset-map dataset-template" data-module="spatial-select" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}" data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}" data-raster-display="block" data-vector-display="block" data-non_spatial-display="none">
	<div id="dataset-map-container"></div>
    </div>
    <div id="dataset-map-attribution">
	{% snippet "spatial/snippets/map_attribution.html", map_config=map_config %}
    </div>
</section>

{% resource 'ckanext-spatial/spatial_query' %}
{#{% resource 'ckanext-anzlic/scripts/anzlic-spatial-select.js' %} #}
