{% import 'macros/spc.html' as spc_form %}
<fieldset class="raised">
    <legend>{{ field.label }}</legend>
    <span></span>
    {% for i in range(data[field.field_name]|length) %}
	{% with item_data = data.get(field.field_name, []), item_errors = errors.get(field.field_name, []), uniq=field.field_name ~ '_' ~ i%}
	    <div id="{{ uniq }}-wrapper">
		<a class="btn btn-info control-group" type="button" data-toggle="collapse" data-target="#{{ uniq }}">
		    {{ field.label }} #{{ i + 1 }}
		</a>
		<a class="btn btn-danger control-group" type="button" onclick="document.getElementById('{{ uniq }}-wrapper').remove()">
		    Remove
		</a>

		<div class="collapse {% if item_errors[i]|default(false) %}in{% endif %}" id="{{ uniq }}">
		    {{ spc_form[field.sub_form](field, field.field_name, i, item_data[i], item_errors[i]|default({})) }}
		</div>
	    </div>
	{% endwith %}
    {% endfor %}
    {% with wildcard = field.field_name ~ '_CLONABLE_INDEX_',  uniq=field.field_name ~ '_' ~ wildcard %}
	<fieldset
	    disabled hidden
	    data-module="clonable-fieldset"
	    data-module-wildcard="{{ wildcard }}"
	    data-module-i="{{ data[field.field_name]|length }}"
	    id="{{ uniq }}-wrapper"
	>

	    <a class="btn btn-info control-group" type="button" data-toggle="collapse" data-target="#{{ uniq }}">
		{{ field.label }} #New
	    </a>
	    <a class="btn btn-danger control-group" type="button" onclick="document.getElementById('{{ uniq }}-wrapper').remove()">
		Remove
	    </a>

	    <div class="collapse" id="{{ uniq }}">
		{{ spc_form[field.sub_form](field, field.field_name, wildcard) }}
	    </div>
	</fieldset>
    {% endwith %}
</fieldset>
