@font-face {
  font-family: 'Calibri';
  src: url('../../fonts/Calibri-Bold.ttf');
  src: url('../../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Calibri-Bold.woff2') format('woff2'), url('../../fonts/Calibri-Bold.woff') format('woff'), url('../../fonts/Calibri-Bold.ttf') format('truetype'), url('../../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('../../fonts/Calibri-Light.ttf');
  src: url('../../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/Calibri-Light.woff2') format('woff2'), url('../../fonts/Calibri-Light.woff') format('woff'), url('../../fonts/Calibri-Light.ttf') format('truetype'), url('../../fonts/Calibri-Light.svg#Calibri-Light') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('../../fonts/Calibri.ttf');
  src: url('../../fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('../../fonts/Calibri.woff2') format('woff2'), url('../../fonts/Calibri.woff') format('woff'), url('../../fonts/Calibri.ttf') format('truetype'), url('../../fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome-webfont.ttf');
  src: url('../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff') format('woff'), url('../../fonts/fontawesome-webfont.ttf') format('truetype'), url('../../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Calibri';
  font-weight: lighter;
  background: #032f47;
}
@media (max-width: 767px) {
  body {
    background: #003960;
  }
}
a {
  color: #0869a1;
}
header.navbar {
  position: relative;
}
header.navbar > .container {
  position: unset;
  width: 1015px;
}
header.navbar > .container .collapse {
  position: unset;
}
.masthead {
  background: #032f47 url(../../images/header_gradient.png) 50% 50% no-repeat;
  background-size: cover;
  line-height: 70px;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li a:active {
  background-color: #0b6591;
}
.masthead .navigation .nav-pills li.active a {
  background-color: #0b6591;
}
.logo img {
  max-width: 172px;
}
.account-masthead {
  background: #032f47;
}
.site-footer {
  background: #032f47 url(../../images/footer_gradient.png) 50% 50% no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .site-footer {
    background: #003960;
  }
}
[role=main],
.main {
  background: #fff;
}
@media (max-width: 767px) {
  [role=main],
  .main {
    padding-bottom: 0;
  }
}
[role=main] .toolbar,
.main .toolbar {
  margin: 0 -47px 20px;
}
@media (min-width: 1125px) {
  .container {
    width: 1010px;
  }
  .container .span3 {
    width: 250px;
  }
  .container .span9 {
    width: 740px;
  }
}
.wrapper {
  background: transparent;
  box-shadow: none;
  border: none;
}
.wrapper .primary {
  border: none;
}
.wrapper .primary .page-header {
  margin-left: 0;
}
.wrapper .primary .media-grid {
  margin-left: -10px;
  background: #dfebed;
}
.wrapper .primary .module:first-child {
  border: 1px solid #bcdfe5;
  border-radius: 5px;
}
.wrapper .primary div.module-content {
  padding-left: 29px;
  padding-right: 29px;
}
@media (max-width: 767px) {
  .wrapper .primary div.module-content {
    padding: 0 15px;
  }
}
.wrapper .secondary {
  border: 1px solid #bcdfe5;
  border-radius: 2px;
}
.toolbar .breadcrumb li a {
  font-size: 14px;
  font-weight: lighter;
  color: #056199;
}
@media (max-width: 767px) {
  .toolbar .breadcrumb li a {
    font-size: 14px;
    color: #fff;
  }
}
.toolbar .breadcrumb li.active a {
  color: #434e4e;
  font-weight: lighter;
}
@media (max-width: 767px) {
  .toolbar .breadcrumb li.active a {
    color: #fff;
    text-decoration: underline;
  }
}
.toolbar .breadcrumb li:after {
  content: '>';
  font-size: 14px;
  font-weight: lighter;
  color: #056199;
  margin-left: 4px;
}
@media (max-width: 767px) {
  .toolbar {
    background: #003960;
    margin-bottom: 0;
  }
}
.search-form {
  border-bottom: none;
  padding-bottom: 35px;
  margin-bottom: 0;
}
.search-form h2 {
  font-size: 29px;
  color: #00b0ca;
}
.search-form .search-input.search-giant {
  margin-bottom: 35px;
}
.search-form .search-input.search-giant input {
  font-size: 18px;
  font-family: 'Calibri';
  font-weight: lighter;
  color: #b2b1b1;
  border: 2px solid #bcdfe5;
  box-shadow: none;
  padding: 18px 15px;
}
.search-form .search-input.search-giant button {
  top: 30%;
}
.search-form .control-order-by select {
  font-size: 17px;
  border-color: #bcdfe5;
  width: 169px;
  height: 35px;
  line-height: 35px;
}
.search-form label {
  font-size: 18px;
  font-weight: normal;
}
.filters .module-footer {
  border-top: none;
}
.filters .module-footer a {
  font-size: 16px;
  font-weight: normal;
}
.filters .module-footer a i {
  font-size: 13px;
  font-weight: bold;
  color: #036295;
}
.filters .module-heading,
.secondary .module-heading {
  background-color: #036295;
  font-family: 'Calibri';
  font-size: 19px;
  font-weight: normal;
  color: #fff;
  border-radius: 2px;
}
.filters .module:first-child .module-heading,
.secondary .module:first-child .module-heading {
  border-radius: 2px 2px 2px 2px;
}
.filters .nav-item a,
.secondary .nav-item a {
  font-size: 16px;
  padding: 10px 15px;
}
.btn-primary {
  background: linear-gradient(0deg, #0c436b 0%, #036295 100%);
  font-weight: normal;
  border: none;
  border-radius: 5px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: linear-gradient(0deg, #0c436b 20%, #036295 80%);
}
.nav-simple > li.nav-item {
  border-bottom: 1px dashed #bcdfe5;
}
.nav-simple > li.nav-item a {
  color: #2a2c2d;
}
.dataset-list .dataset-heading {
  font-size: 19px;
  margin-bottom: 12px;
  padding-right: 25px;
}
.dataset-list .dataset-heading a {
  color: #0869a1;
  font-weight: normal;
}
.dataset-list .dataset-item {
  font-size: 17px;
  color: #727474;
  border-color: #bcdfe5;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px 20px;
}
.dataset-list .dataset-item:first-of-type {
  border-top: 1px dotted #bcdfe5;
  padding-top: 20px;
}
.dataset-list .dataset-item .dataset-resources li {
  display: inline-block;
}
.dataset-list .dataset-item .dataset-resources li a {
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  padding-top: 4px;
}
.dataset-list .dataset-item .dataset-info {
  color: #1d1d1e;
  margin-bottom: 15px;
}
.dataset-list .dataset-item .dataset-info .badge {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 15px;
  padding-top: 3px;
}
.ml-5 {
  margin-left: 5px;
}
.form-actions {
  margin: 0;
}
.pagination {
  padding-bottom: 60px;
  margin-top: 45px;
}
.pagination ul {
  box-shadow: none;
}
.pagination ul > li {
  display: inline-block;
}
.pagination ul > li a {
  color: #fff;
  background-color: #bcdfe5;
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
}
.pagination ul > li a:hover,
.pagination ul > li a:focus,
.pagination ul > li a:active {
  background-color: #bcdfe5;
}
.pagination ul > li.active a {
  color: #fff;
  background-color: #036295;
  border-radius: 5px;
}
.pagination ul > li:last-child a {
  border-radius: 5px;
}
.api-link .module-content {
  padding-top: 40px;
  padding-bottom: 0;
}
.api-link .module-content small {
  font-size: 12px;
}
.dataset-read {
  display: flex;
  margin-bottom: 60px;
}
.dataset-read .primary {
  position: relative;
  color: #2a2c2d;
  border: 1px solid #bcdfe5;
  border-radius: 0;
  border-bottom-left-radius: 5px;
}
.dataset-read .primary .module {
  margin-top: 0;
}
.dataset-read .primary .module-content {
  padding-left: 25px;
}
.dataset-read .primary h1 {
  font-size: 23px;
  line-height: 1.2;
  font-weight: normal;
  color: #036295;
  padding: 0 15px;
  margin-bottom: 30px;
  margin-top: 9px;
}
.dataset-read .primary h3 {
  font-size: 19px;
  font-weight: normal;
}
.dataset-read .primary .btn.manage {
  float: right;
}
.dataset-read .primary ul.nav.nav-tabs {
  position: absolute;
  left: -100px;
  top: -1px;
}
.dataset-read .primary ul.nav.nav-tabs li {
  float: none;
}
.dataset-read .primary ul.nav.nav-tabs li a {
  position: relative;
  width: 100px;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: #036295;
  background: #dfebed;
  border: 1px solid #bcdfe5;
  border-right: none;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-sizing: border-box;
  padding-left: 30px;
  margin-right: 0;
}
.dataset-read .primary ul.nav.nav-tabs li a i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.dataset-read .primary ul.nav.nav-tabs li.active a {
  font-size: 15px;
  color: #2a2c2d;
  background: #fff;
}
.dataset-read .primary .notes {
  font-size: 16px;
  line-height: 21px;
  padding: 0 15px;
  margin-bottom: 50px;
}
.dataset-read .primary .resources h3 {
  margin-bottom: 20px;
}
.dataset-read .primary .resource-list {
  border-top: 1px dashed #bcdfe5;
}
.dataset-read .primary .resource-list .resource-item {
  border-bottom: 1px dashed #bcdfe5;
  padding-left: 75px;
}
.dataset-read .primary .resource-list .resource-item .btn-primary.dropdown-toggle {
  line-height: 1.3;
  color: #036295;
  background: #fff;
  border: 2px solid #036295;
}
.dataset-read .primary .resource-list .resource-item .btn-primary.dropdown-toggle .caret {
  border-top-color: #036295;
  border-bottom-color: #036295;
}
.dataset-read .primary .resource-list .resource-item .btn-primary.dropdown-toggle:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.dataset-read .primary .resource-list .resource-item:hover {
  background-color: #dfebed;
}
.dataset-read .primary .resource-list .resource-item .heading {
  display: block;
  font-size: 16px;
  color: #2a2c2d;
  font-weight: lighter;
  padding-right: 135px;
}
.dataset-read .primary .resource-list .resource-item .format-label {
  left: 25px;
}
.dataset-read .primary .resource-list .resource-item .btn-group {
  right: 25px;
}
.dataset-read .primary .resource-list .resource-item .description {
  font-size: 13px;
  color: #727474;
}
.dataset-read .primary .tags {
  margin: 25px 0 50px;
}
.dataset-read .primary .tags .tag-list.well {
  background-color: #dfebed;
  border: none;
  box-shadow: none;
  padding: 12px 22px 7px;
}
.dataset-read .primary .tags .tag-list.well li {
  margin-right: 7px;
}
.dataset-read .primary .tags .tag-list.well .tag {
  font-size: 16px;
  font-weight: lighter;
  background-color: #dfebed;
  border-color: #8aa4a8;
  box-shadow: none;
  margin-bottom: 5px;
}
.dataset-read .primary .tags .tag-list.well .tag:hover,
.dataset-read .primary .tags .tag-list.well .tag:focus,
.dataset-read .primary .tags .tag-list.well .tag:active {
  color: #2a2c2d;
  box-shadow: inset 0 1px 0 #8aa4a8;
}
.dataset-read .primary .table-striped tbody tr:nth-child(even) td,
.dataset-read .primary .table-striped tbody tr:nth-child(even) th {
  background-color: #dfebed;
}
.dataset-read .primary .table-bordered {
  border-color: #bcdfe5;
  margin-bottom: 35px;
}
.dataset-read .primary .table-bordered th,
.dataset-read .primary .table-bordered td {
  font-size: 16px;
  font-weight: normal;
  border-color: #bcdfe5;
  padding-left: 22px;
}
.dataset-read .primary .table-bordered th:first-child,
.dataset-read .primary .table-bordered td:first-child {
  width: 30%;
}
.dataset-read .primary .media-grid {
  background: transparent;
  border: none;
}
.dataset-read .secondary {
  border: 1px solid #bcdfe5;
  border-left: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dataset-read .secondary .module {
  font-size: 16px;
  color: #2a2c2d;
}
.dataset-read .secondary .module .module-heading {
  border-radius: 0;
  padding-left: 25px;
}
.dataset-read .secondary .module .module-heading i {
  font-size: 16px;
  margin-right: 7px;
}
.dataset-read .secondary .module:first-child .module-heading {
  border-top-right-radius: 5px;
}
.dataset-read .secondary .module h1.heading {
  font-weight: normal;
}
.dataset-read .secondary .stars-block {
  text-align: center;
}
.dataset-read .secondary .stars-block i {
  font-size: 30px;
}
.dataset-read .secondary .followers {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 25px;
}
.dataset-read .secondary .followers span {
  font-size: 24px;
  font-weight: normal;
  margin-left: 5px;
}
.dataset-read .secondary .follow_button {
  text-align: center;
}
.dataset-read .secondary .follow_button .btn {
  background: linear-gradient(0deg, #0c436b 0%, #036295 100%);
  font-weight: normal;
  border: none;
  border-radius: 5px;
}
.dataset-read .secondary .follow_button .btn:hover,
.dataset-read .secondary .follow_button .btn:focus,
.dataset-read .secondary .follow_button .btn:active {
  background: linear-gradient(0deg, #0c436b 20%, #036295 80%);
}
.dataset-read .secondary .read-more a {
  font-size: 13px;
  font-weight: lighter;
  color: #036295;
}
.dataset-read .secondary .read-more i {
  font-size: 14px;
  margin-left: 5px;
  color: #036295;
}
#main-menu {
  position: absolute;
  right: 30px;
  top: -4px;
}
@media (max-width: 767px) {
  #main-menu {
    right: 8px;
  }
}
button.header-menu-btn {
  position: relative;
  background-color: transparent;
  border: none;
  height: 35px;
  width: 65px;
}
button.header-menu-btn span {
  display: block;
  width: 40px;
  height: 2px;
  margin-top: 7px;
  position: relative;
  background: #fff;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
button.header-menu-btn span:first-child {
  transform-origin: 0% 0%;
  margin-top: 0;
}
button.header-menu-btn span:nth-child(2) {
  transform-origin: 0% 100%;
}
button.header-menu-btn:focus {
  outline: none;
}
.ma5-menu-active button.header-menu-btn span {
  opacity: 1;
  transform: rotate(45deg) translate(7px, -14px);
}
.ma5-menu-active button.header-menu-btn span:nth-child(2) {
  transform: rotate(-45deg) translate(0, 20px);
}
.ma5-menu-active button.header-menu-btn span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.ma5-mobile-menu-container {
  background-color: #1d5f89;
}
.ma5-menu-panel {
  background-color: #1d5f89;
}
.ma5-menu-panel .ma5-btn-enter {
  background-color: transparent;
  box-sizing: border-box;
}
.ma5-menu-panel li {
  border-bottom: 1px solid rgba(246, 240, 234, 0.5);
  clear: both;
}
.ma5-menu-panel li:hover {
  background-color: rgba(246, 240, 234, 0.5);
}
.ma5-menu-panel li:hover a {
  color: #1d5f89;
}
.ma5-menu-panel li:hover .ma5-btn-enter i {
  color: #1d5f89;
}
.ma5-menu-panel li:first-child {
  margin-top: 70px;
  border-top: 1px solid rgba(246, 240, 234, 0.5);
}
.ma5-menu-panel li a {
  overflow: unset;
}
.ma5-menu-panel div.ma5-leave-bar {
  text-align: left;
  color: #fff;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
  text-transform: none;
  padding: 0 0 0 90px;
}
.ma5-menu-panel div.ma5-leave-bar .ma5-btn-leave {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  padding: 0;
  overflow: hidden;
  right: auto;
  background-color: rgba(246, 240, 234, 0.25);
  color: #fff;
  cursor: pointer;
}
.ma5-menu-panel a {
  color: #fff;
  font-weight: 300;
}
@media (max-width: 1124px) {
  [role=main] .toolbar,
  .main .toolbar {
    margin: 0 0 20px;
  }
  header.navbar {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  header.navbar > .container {
    max-width: 1000px;
    width: auto;
    padding: 0 15px;
  }
  .dataset-read .primary ul.nav.nav-tabs {
    position: unset;
    left: 0;
    top: 0;
    padding-top: 10px;
  }
  .dataset-read .primary ul.nav.nav-tabs li {
    display: inline-block;
  }
  .dataset-read .primary ul.nav.nav-tabs li a {
    width: auto;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #bcdfe5;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .account-masthead {
    margin-left: 0;
    margin-right: 0;
  }
  [role=main] #content {
    padding: 0 20px;
  }
  [role=main] #content .primary.span9 {
    width: 100%;
  }
  [role=main] #content .show-filters.btn {
    background: linear-gradient(0deg, #0c436b 0%, #036295 100%);
    font-weight: normal;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  [role=main] #content .show-filters.btn:hover,
  [role=main] #content .show-filters.btn:focus,
  [role=main] #content .show-filters.btn:active {
    background: linear-gradient(0deg, #0c436b 20%, #036295 80%);
    color: #fff;
  }
  [role=main] #content .toolbar {
    background: #fff;
    margin-bottom: 5px;
  }
  [role=main] #content .toolbar .breadcrumb li a {
    color: #2a2c2d;
  }
  [role=main] #content .toolbar .breadcrumb li.active a {
    color: #2a2c2d;
  }
  .dataset-read {
    display: block;
  }
  .dataset-read .primary {
    background: #fff;
  }
  .dataset-list .dataset-item {
    margin-left: 0;
    margin-right: 0;
  }
  .dataset-read .primary .resource-list .resource-item .heading {
    padding-right: 10px;
  }
}
