body {
  background: #032f47;
}
a {
  color: #0869a1;
}
.masthead {
  background: #032f47 url(../images/header_gradient.png) 50% 50% no-repeat;
  background-size: cover;
  padding: 10px 0;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li a:active {
  background-color: #0b6591;
}
.masthead .navigation .nav-pills li.active a {
  background-color: #0b6591;
}
.logo img {
  max-width: 200px;
}
.account-masthead {
  background: #032f47;
}
.site-footer {
  background: #032f47 url(../images/footer_gradient.png) 50% 50% no-repeat;
  background-size: cover;
}
[role=main],
.main {
  background: #f8f8f8;
}
.wrapper {
  box-shadow: none;
  border: 1px solid #b4b7b7;
}
.toolbar .breadcrumb li a {
  color: #0869a1;
  font-weight: 300;
}
.toolbar .breadcrumb li.active a {
  color: #434e4e;
  font-weight: 300;
}
.search-form h2 {
  color: #0b6591;
}
.search-form .search-input button {
  top: 30%;
}
.filters .module-heading {
  background-color: #032f47;
  color: #fff;
}
.btn-primary {
  background: #032f47;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #032f47;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
.nav-item a {
  color: #727474;
}
.dataset-list .dataset-heading a {
  color: #0869a1;
  font-weight: 400;
}
.dataset-list .dataset-item {
  color: #727474;
}
